<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-black shadow-lg">
    <div class="container text-white">
        <a class="navbar-brand" th:href="@{/}">
            <p class="fw-bolder p-0 m-0 text-white">NAV-BAR</p>
        </a>
        <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-lg-5 mb-2 mb-lg-0 ">
                <li class="nav-item ">
                    <a class="nav-link active text-white "
                       aria-current="page"
                       th:href="@{/user/index}">patients</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        patients-page
                    </a>
                    <ul class="dropdown-menu bg-black">
                        <li><a class="dropdown-item text-white"  th:href="@{/user/index-page}">search-patient</a></li>
                        <hr class="dropdown-divider">
                        <li  th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}"
                        ><a class="dropdown-item text-white" th:href="@{/admin/add-patient}">add-patient</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false"
                    th:text="${#authentication.name}">

                    </a>
                    <ul class="dropdown-menu bg-black">
                        <li><a class="dropdown-item text-white " href="#"> Profile</a></li>
                        <hr class="dropdown-divider">
                        <li><a class="dropdown-item text-white">
                            <form method="post" th:action="@{/logout}">
                                <input type="submit" value="log out" class="bg-black text-white border-0"/>
                            </form>
                        </a></li>

                    </ul>
                </li>
            </ul>

        </div>
    </div>
</nav>
<section layout:fragment="content" class="my-5">

</section>
</body>
</html>
